/* Set background color of the page to black */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
}

/* Main container styling */
.post-count-container {
    margin-left: 300px; /* Adjust to account for the sidebar width */
    padding: 20px;
}

/* Card container styles */
.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Wrap cards to create a 2x2 grid */
    margin-bottom: 20px;
}

/* Card styles */
.card {
    padding: 20px;
    background: linear-gradient(to bottom right, #2c3e50, rgba(0, 0, 0, 0));
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    flex: 1 1 45%; /* Control card width for 2x2 grid */
    text-align: center;
    box-sizing: border-box;
}

/* Chart container styles */
.chart-container {
    width: 100%; /* Set width to 100% so the chart fits within the card */
    height: 200px; /* Adjust as needed */
    margin: 0 auto;
}
